@import "~antd/dist/antd.css";
@import "../../shared/theme/theme.css";

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.container-item-1 {
  padding: 3em;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  background-color: var(--main-bg-color);
}

.container-item-2 {
  padding: 3em;
  background-color: var(--light-grey);
}

.form-card {
  border-radius: 1em;
  box-shadow: 2px 2px #cccaca;
}
